<form [formGroup]="control" [nbSpinner]="loading" nbSpinnerStatus="info">
    <div class="card-row">
        <div class="card-col">
            <nb-card>
                <nb-card-header>Gerenciamento Mensal</nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label for="inputEmail" class="label">Mês Referência</label><br />
                                <nb-select fullWidth placeholder="Selecione" (selectedChange)="onSearch($event)">
                                    <nb-option>Selecione</nb-option>
                                    <nb-option *ngFor="let mes of getMeses()"
                                        value="{{mes.id}}">{{mes.descricao}}</nb-option>
                                </nb-select>
                            </div>
                          </div>                   
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
    <div class="card-row" [hidden]="!selected">
        <div class="card-col">
            <nb-card>
                <nb-card-body>   
                    <nb-tabset>
                        <nb-tab tabTitle="PIS / COFINS">
                            <div class="card-row">
                                <div class="card-col">
                                    <nb-card>
                                        <nb-card-body>
                                            <div class="row" [hidden]="!pisCofinsSelected">
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label for="inputEmail" class="label">Concessionária</label><br />
                                                        <input type="text" nbInput fullWidth formControlName="descConcessionaria" readonly class="no-background">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="inputLastName" class="label">PIS</label>
                                                        <input type="number" nbInput fullWidth formControlName="pis">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="inputLastName" class="label">COFINS</label>
                                                        <input type="number" nbInput fullWidth formControlName="cofins">
                                                    </div>
                                                </div>           
                                                <div class="col-sm-3">
                                                    <button type="submit" nbButton style="margin-top: 1.7rem;" status="warning" (click)="onSubmitPisCofins()">{{control.get('impostoId').value == undefined ? 'Cadastrar' : 'Alterar'}}</button>
                                                    <button type="submit" nbButton style="margin-top: 1.7rem; margin-left: 0.5rem;" (click)="onClosePisCofins()">Limpar</button>
                                                </div>
                                            </div>                                            
                                            <ng2-smart-table [settings]="impostosSettings" [source]="sourcePisCofins" (deleteConfirm)="onSelectPisCofins($event)">
                                            </ng2-smart-table>
                                        </nb-card-body>
                                    </nb-card>
                                </div>
                            </div>                    
                        </nb-tab>
                        <nb-tab tabTitle="Bandeira Tarifária">                           
                            <div class="card-row">
                                <div class="card-col">
                                    <nb-card>
                                        <nb-card-body>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="inputEmail" class="label">Bandeira Vigente</label><br />
                                                        <nb-select fullWidth placeholder="Selecione" formControlName="bandeiraVigente">
                                                            <nb-option>Selecione</nb-option>
                                                            <nb-option [value]="0">Amarela</nb-option>
                                                            <nb-option [value]="1">Verde</nb-option>
                                                            <nb-option [value]="2">Vermelha I</nb-option>
                                                            <nb-option [value]="3">Vermelha II</nb-option>
                                                        </nb-select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <button type="submit" nbButton style="margin-top: 1.7rem;" status="warning" (click)="onSubmitBandeiraVigente()">{{control.get('bandeiraVigente').value == 4 ? 'Cadastrar' : 'Alterar'}}</button>
                                                </div>
                                        </div>
                                    </nb-card-body>
                                </nb-card>
                                </div>
                            </div>                      
                        </nb-tab>                        
                        <nb-tab tabTitle="PROINFA / ICMS">
                            <div class="card-row">
                                <div class="card-col">
                                    <nb-card>
                                    <nb-card-body>
                                            <div class="row" [hidden]="!proinfaIcmsSelected">
                                                <div class="col-sm-5">
                                                    <div class="form-group">
                                                        <label for="inputEmail" class="label">Ponto de Medição</label><br />
                                                        <input type="text" nbInput fullWidth formControlName="descPontoMedicao" readonly class="no-background">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="inputLastName" class="label">PROINFA</label>
                                                        <input type="number" nbInput fullWidth formControlName="proinfa">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="inputLastName" class="label">ICMS</label>
                                                        <input type="number" nbInput fullWidth formControlName="icms">
                                                    </div>
                                                </div>           
                                                <div class="col-sm-3">
                                                    <button type="submit" nbButton style="margin-top: 1.7rem;" status="warning" (click)="onSubmitProinfaIcms()">{{control.get('impostoId').value == undefined ? 'Cadastrar' : 'Alterar'}}</button>
                                                    <button type="submit" nbButton style="margin-top: 1.7rem; margin-left: 0.5rem;" (click)="onCloseProinfaIcms()">Limpar</button>
                                                </div>
                                            </div>
                                            <ng2-smart-table [settings]="proinfaSettings" [source]="sourceProinfaIcms" (deleteConfirm)="onSelectProinfaIcms($event)">
                                            </ng2-smart-table>
                                        </nb-card-body>
                                    </nb-card>
                                </div>
                            </div>                      
                        </nb-tab>
                    </nb-tabset>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</form>