<form [formGroup]="control">
    <nb-card accent="warning">
        <input hidden id="id" type="text" formControlName="id">
        <nb-card-header>Cadastro de Imposto</nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="inputFirstName" class="label">Mês Referência*</label>
                        <input nbInput fullWidth mask="M0/0000" placeholder="__/____" [dropSpecialCharacters]="false" fieldSize="small" formControlName="mesReferencia">              
                    </div>
                </div>          
            </div>
            <div class="row">       
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="inputFirstName" class="label">Valor PIS (R$)*</label>
                        <input type="number" nbInput fullWidth id="inputFirstName" formControlName="valorPis">
                    </div>
                </div>
            </div>
            <div class="row">       
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="inputFirstName" class="label">Valor COFINS (R$)*</label>
                        <input type="number" nbInput fullWidth id="inputFirstName" formControlName="valorCofins">
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <div class="text-center">
                <button nbButton status="warning" (click)="onSubmit()" [disabled]="!control.valid">Confirmar</button>
                <button nbButton status="basic" style="margin-left: 2.5rem;" (click)="onClose()">Cancelar</button>
            </div>
        </nb-card-footer>  
    </nb-card>
</form>