@import '/src/app/@theme/styles/sige.custom.scss';
@import '/src/app/@theme/styles/themes';

$shadow-green: #00977e;

  .progress-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .description {
    margin-top: 0.5rem;
  }

  .top-up {
    margin-top: 1.2rem;
  }

  .sub-med {
    font-weight: normal !important;
  }

  :host {
    ::ng-deep .ng2-smart-row td:nth-child(3) {
        text-align: center;
    }
  }

  :host {
    ::ng-deep .ng2-smart-row td:nth-child(4) {
        text-align: center;
    }
  }

  :host {
    ::ng-deep .ng2-smart-row td:nth-child(5) {
        text-align: center;
    }
  }

  :host {
    ::ng-deep .ng2-smart-row.ocultar-coluna-7 td:nth-child(7) {
      font-size: 0 !important;
      line-height: 0 !important;
      color: transparent !important;
      height: 0 !important;
      overflow: hidden !important;
      pointer-events: none;
      background: none !important;
      border: 1px solid var(--smart-table-separator);
    }
  
    /* Remove qualquer conteúdo interno (como <a>, <button>, etc.) */
    ::ng-deep .ng2-smart-row.ocultar-coluna-7 td:nth-child(7) * {
      display: none !important;
    }
  }