<form [formGroup]="control">
    <div class="card-row" *ngIf="edit" [nbSpinner]="loading">
      <div class="card-col">
        <nb-card>
          <nb-card-body>
            <nb-tabset>
              <nb-tab tabTitle="Cadastro de Bandeira Tarifária">
                <nb-card style="border: 0rem;">
                  <nb-card-body>
                    <input hidden id="id" type="text" formControlName="id">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="label">Vigência Inicial*</label>
                          <input nbInput fullWidth mask="d0/M0/0000" placeholder="__/__/____"
                            [dropSpecialCharacters]="false" fieldSize="small" formControlName="dataVigenciaInicial">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="label">Vigência Final*</label>
                          <input nbInput fullWidth mask="d0/M0/0000" placeholder="__/__/____"
                            [dropSpecialCharacters]="false" fieldSize="small" formControlName="dataVigenciaFinal">
                        </div>
                      </div>
                    </div>
                      <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="inputFirstName" class="label">Bandeira Verde*</label>
                          <input type="number" nbInput fullWidth id="inputFirstName" placeholder=""
                            formControlName="valorBandeiraVerde">
                        </div>
                      </div>                  
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="inputFirstName" class="label">Bandeira Amarela*</label>
                          <input type="number" nbInput fullWidth id="inputFirstName" placeholder=""
                            formControlName="valorBandeiraAmarela">
                        </div>
                      </div>                  
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="inputFirstName" class="label">Bandeira Vermelha I*</label>
                          <input type="number" nbInput fullWidth id="inputFirstName" placeholder=""
                            formControlName="valorBandeiraVermelha1">
                        </div>
                      </div>                  
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="inputFirstName" class="label">Bandeira Vermelha II*</label>
                          <input type="number" nbInput fullWidth id="inputFirstName" placeholder=""
                            formControlName="valorBandeiraVermelha2">
                        </div>
                      </div>                  
                    </div>                    
                  </nb-card-body>
                  <nb-card-footer>
                    <button type="submit" nbButton status="info" (click)="onSubmit()" [disabled]="!control.valid" *ngIf="habilitaOperacoes">{{selected ? 'Alterar' : 'Cadastrar'}}</button>
                    <button type="submit" *ngIf="selected && habilitaOperacoes" nbButton status="danger" style="margin-left: 0.5rem;" (click)="onDeleteConfirm()">Excluir</button>
                    <button type="submit" nbButton style="margin-left: 0.5rem;" (click)="limparFormulario()">Voltar</button>
                  </nb-card-footer>
                </nb-card>
              </nb-tab>              
            </nb-tabset>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="info">
      <nb-card-header>
        <div class="row">
          <div class="table-header">
            Bandeiras Tarifárias Cadastradas
          </div>
          <div *ngIf="!edit && habilitaOperacoes">
            <div class="form-group">
              <nb-actions size="small">
                <nb-action icon="plus-outline" (click)="onEdit()"></nb-action>
              </nb-actions>
            </div>
          </div>
        </div>
      </nb-card-header>
  
      <nb-card-body>
        <ng2-smart-table [settings]="settingsBandeiraTarifaria" [source]="source" (deleteConfirm)="onSelect($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </form>