<!-- Seleção do Mês de Referência -->
  <nb-card [nbSpinner]="loading" nbSpinnerStatus="info" *ngIf="!selected">
    <nb-card-header>Emitir Faturas</nb-card-header>      
    <nb-card-body>
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label class="label">Mês Referência</label><br />
            <nb-select fullWidth placeholder="Selecione" (selectedChange)="onSearch($event)">
              <nb-option>Selecione</nb-option>
              <nb-option *ngFor="let mes of getMeses()" value="{{mes.id}}">{{mes.descricao}}</nb-option>
          </nb-select>
          </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
              <button type="submit" nbButton style="margin-top: 1.7rem;" status="warning" (click)="onSelect()">Nova Fatura</button>
            </div>
          </div>           
      </div>        
    </nb-card-body>      
  </nb-card>

<!-- Lista de Faturas Emitidas -->
<nb-card [nbSpinner]="loading" nbSpinnerStatus="info" *ngIf="!selected">
    <nb-card-header>Faturas Emitidas</nb-card-header>      
    <nb-card-body>    
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="selecionarFatura($event)">
        </ng2-smart-table>
    </nb-card-body>  
</nb-card>

<!-- Stepper -->
<nb-card *ngIf="selected">
    <nb-card-body>
        <nb-stepper #stepper orientation="horizontal" disableStepNavigation="true" linear="false" [(selectedIndex)]="stepperIndex">
            <!-- Dados Fatura -->
            <nb-step [label]="labelOne" [stepControl]="control">
                <ng-template #labelOne>Fatura</ng-template>
                <h6>Dados da Fatura {{ getPontoMedicaoDesc() }} <div *ngIf="getControlValues('pontoMedicaoDesc') != null" class="h7 {{getControlValues('segmento') == 0 ? 'green' : 'blue'}}" style="margin-bottom: 1.7rem;">Segmento {{getControlValues('segmento') == 0 ? 'VERDE' : 'AZUL'}}</div></h6>
                <nb-card style="border: 0rem;" [nbSpinner]="loading">
                    <nb-card-body>
                        <form [formGroup]="control">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="label">Mês Referência*</label>
                                        <input nbInput fullWidth mask="M0/0000" placeholder="__/____" 
                                            [dropSpecialCharacters]="false" formControlName="mesReferencia">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="label">Data Vencimento*</label>
                                        <input nbInput fullWidth mask="d0/M0/0000" placeholder="__/__/____"
                                            [dropSpecialCharacters]="false" formControlName="dataVencimento">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ngx-auto-complete *ngIf="pontosMedicao.length > 1" [label]="'Ponto de Medição'" [items]="pontosMedicao" [editLabel]="editLabel"
                                        (itemSelected)="onItemSelected($event)"></ngx-auto-complete>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputLastName" class="label">Concessionária*</label>
                                        <input *ngIf="concessionarias.length <= 1" readonly nbInput fullWidth [value]="concessionarias.length == 1 ? concessionarias[0].descricao : ''" style="background-color: transparent; border: 0px;">
                                        <nb-select *ngIf="concessionarias.length > 1" fullWidth placeholder="Selecione" formControlName="concessionariaId">
                                            <nb-option *ngFor="let con of concessionarias"
                                                value="{{con.id}}">{{con.descricao}}</nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
                <button nbButton (click)="onCancel()">Cancelar</button>
                <button *ngIf="getControlValues('id') != null && getControlValues('validado') == false" nbButton style="margin-left: 0.5rem;" status="danger" (click)="onDelete()">Excluir</button>
                <button nbButton style="margin-left: 0.5rem;" nbStepperNext [disabled]="!habilitaFatura()">Próximo</button>
            </nb-step>

            <!-- Lançamentos -->
            <nb-step [label]="labelTwo">
                <ng-template #labelTwo>Lançamentos</ng-template>
                <h6>Lançamentos {{ getPontoMedicaoDesc() }} <div class="h7 {{getControlValues('segmento') == 0 ? 'green' : 'blue'}}" style="margin-bottom: 1.7rem;">Segmento {{getControlValues('segmento') == 0 ? 'VERDE' : 'AZUL'}}</div></h6>
                <div class="card-row">
                    <div class="card-col">  
                        <nb-card>
                            <nb-card-header>Demanda</nb-card-header>
                            <nb-card-body>
                                <form [formGroup]="control">
                                    <div class="row" style="margin-bottom: 0.7rem;">
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName"  class="label">Contratada - Ponta*</label>
                                            <input type="number" min="0" (keydown)="bloquearMenos($event)" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorDemandaContratadaPonta">
                                        </div>          
                                        <div class="col-sm-4">
                                            <label for="inputLastName"  class="label">Contratada - Fora de Ponta*</label>
                                            <input type="number" min="0" (keydown)="bloquearMenos($event)" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorDemandaContratadaForaPonta">
                                        </div> 
                                        <div class="col-sm-4" *ngIf="showInput()">                                            <label for="inputLastName"  class="label">Faturada - Ponta (Consumida)*</label>
                                            <input type="number" min="0" (keydown)="bloquearMenos($event)" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorDemandaFaturadaPontaConsumida">
                                        </div>                                      
                                        <div class="col-sm-4">
                                            <label for="inputLastName"  class="label">Faturada - Fora de Ponta (Consumida)*</label>
                                            <input type="number" min="0" (keydown)="bloquearMenos($event)" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorDemandaFaturadaForaPontaConsumida">
                                        </div>                                      
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName"  class="label">Faturada - Ponta (Não Utilizada)*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorDemandaFaturadaPontaNaoConsumida">
                                        </div>                                      
                                        <div class="col-sm-4">
                                            <label for="inputLastName"  class="label">Faturada - Fora de Ponta (Não Utilizada)*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorDemandaFaturadaForaPontaNaoConsumida">
                                        </div>                                      
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName"  class="label">Ultrapassagem - Ponta*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorDemandaUltrapassagemPonta">
                                        </div>  
                                        <div class="col-sm-4">
                                            <label for="inputLastName"  class="label">Ultrapassagem - Fora de Ponta*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorDemandaUltrapassagemForaPonta">
                                        </div>  
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName"  class="label">Reativa - Ponta*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorDemandaReativaPonta">
                                        </div> 
                                        <div class="col-sm-4">
                                            <label for="inputLastName"  class="label">Reativa - Fora de Ponta*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorDemandaReativaForaPonta">
                                        </div>                                         
                                    </div>                      
                                </form>
                            </nb-card-body>
                    </nb-card>
                    </div>                    
                </div>
                <div class="card-row">
                    <div class="card-col">  
                        <nb-card>
                            <nb-card-header>Consumo</nb-card-header>
                            <nb-card-body>
                                <form [formGroup]="control">
                                    <div class="row">
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName"  class="label">Medido - Ponta - TUSD*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorConsumoTUSDPonta">
                                        </div>          
                                        <div class="col-sm-4">
                                            <label for="inputLastName"  class="label">Medido - Fora de Ponta - TUSD*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorConsumoTUSDForaPonta">
                                        </div>          
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName"  class="label">Medido - Ponta - TE*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorConsumoTEPonta">
                                        </div>          
                                        <div class="col-sm-4">
                                            <label for="inputLastName"  class="label">Medido - Fora de Ponta - TE*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorConsumoTEForaPonta">
                                        </div>          
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName"  class="label">Medido Reativo - Ponta*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorConsumoMedidoReativoPonta">
                                        </div>                    
                                        <div class="col-sm-4">
                                            <label for="inputLastName"  class="label">Medido Reativo - Fora de Ponta*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorConsumoMedidoReativoForaPonta">
                                        </div>                    
                                    </div>
                                </form>     
                            </nb-card-body>
                        </nb-card>
                    </div>                      
                </div>
                <div class="card-row">                                     
                    <div class="card-col">  
                        <nb-card>
                            <nb-card-header>Adicional Bandeira Vigente, Subvenção e Desconto TUSD</nb-card-header>
                            <nb-card-body>
                                <form [formGroup]="control">
                                    <div class="row">
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName"  class="label">Adicional Bandeira Ponta*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorAdicionalBandeiraPonta">
                                        </div>          
                                        <div class="col-sm-4">
                                            <label for="inputLastName"  class="label">Adicional Bandeira Fora de Ponta*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorAdicionalBandeiraForaPonta">
                                        </div>      
                                        <div class="col-sm-4">
                                            <label for="inputLastName"  class="label">Subvenção*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorSubvencaoTarifaria">
                                        </div>          
                                        <div class="col-sm-4">
                                            <label for="inputLastName"  class="label">Desconto TUSD*</label>
                                            <input type="number" nbInput fullWidth fieldSize="small" placeholder="" formControlName="valorDescontoTUSD">
                                        </div>          
                                    </div>
                                </form>                
                            </nb-card-body>
                        </nb-card>
                    </div>       
                </div>
                <button nbButton nbStepperPrevious>Voltar</button>
                <button nbButton style="margin-left: 0.5rem;" nbStepperNext>Próximo</button>           
            </nb-step>
            
            <!-- Lançamentos Adicionais -->
            <nb-step [label]="labelThree">
                <ng-template #labelThree>Lançamentos Adicionais</ng-template>
                <h6>Lançamentos Adicionais {{ getPontoMedicaoDesc() }} <div class="h7 {{getControlValues('segmento') == 0 ? 'green' : 'blue'}}" style="margin-bottom: 1.7rem;">Segmento {{getControlValues('segmento') == 0 ? 'VERDE' : 'AZUL'}}</div></h6>
                <nb-card style="border: 0rem;">
                    <nb-card-body>
                        <form [formGroup]="lancamentoControl">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="label">Descrição do Lançamento*</label>
                                        <input type="text" nbInput fullWidth formControlName="descricao">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="label">Valor*</label>
                                        <input type="number" min="0" (keydown)="bloquearMenos($event)" nbInput fullWidth formControlName="valor">
                                    </div>
                                </div>                            
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="label">Tipo*</label>
                                        <nb-select fullWidth placeholder="Selecione" formControlName="tipo">
                                            <nb-option value="0">Débito</nb-option>
                                            <nb-option value="1">Crédito</nb-option>
                                        </nb-select>
                                    </div>
                                </div>  
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="label">Contabiliza*</label>
                                        <nb-select fullWidth placeholder="Selecione" formControlName="contabilizaFatura">
                                            <nb-option [value]="true">SIM</nb-option>
                                            <nb-option [value]="false">NÃO</nb-option>
                                        </nb-select>
                                    </div>
                                </div>  
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="label">CCEE*</label>
                                        <nb-select fullWidth placeholder="Selecione" formControlName="tipoCCEE">
                                            <nb-option [value]="true">SIM</nb-option>
                                            <nb-option [value]="false">NÃO</nb-option>
                                        </nb-select>
                                    </div>
                                </div>  
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button nbButton style="margin-top: 1.7rem;" status="warning" (click)="adicionarLancamento()">Adicionar</button>
                                    </div>
                                </div>                            
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ng2-smart-table [settings]="settingsLancamentos" [source]="source" (deleteConfirm)="excluirLancamento($event)">
                                    </ng2-smart-table>
                                </div>
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
                <button nbButton nbStepperPrevious>Voltar</button>
                <button nbButton style="margin-left: 0.5rem;" nbStepperNext (click)="populateLancamentos()">Próximo</button>
            </nb-step>  

            <!-- Emissão -->
            <nb-step [label]="labelFour">
                <ng-template #labelFour>Emissão da Fatura</ng-template>
                <h6 style="margin-bottom: 1.7rem;">Emissão da Fatura</h6>                
                <div class="card-row">                                     
                    <div class="card-col">  
                        <nb-card>
                            <nb-card-header>Dados da Fatura</nb-card-header>
                            <nb-card-body>
                                <form [formGroup]="control">
                                    <div class="row" style="margin-bottom: 0.7rem;">
                                        <div class="col-sm-4">
                                            <label for="inputLastName" class="label-emissao">Mês de Referência</label>
                                            <div>{{getControlValues('mesReferencia') ?? '-'}}</div>
                                        </div>          
                                        <div class="col-sm-4">
                                            <label for="inputLastName" class="label-emissao">Data de Vencimento</label>
                                            <div>{{getControlValues('dataVencimento') ?? '-'}}</div>
                                        </div> 
                                        <div class="col-sm-4">
                                            <label for="inputLastName" class="label-emissao">Segmento</label>
                                            <div class="h7 {{getControlValues('segmento') == 0 ? 'green' : 'blue'}}">{{getControlValues('segmento') == 0 ? 'VERDE' : 'AZUL'}}</div>
                                        </div> 
                                    </div>
                                    <div class="row" style="margin-bottom: 0.7rem;">
                                        <div class="col-sm-5">
                                            <label for="inputLastName" class="label-emissao">Ponto de Medição</label>
                                            <div>{{getControlValues('pontoMedicaoDesc') ?? '-'}}</div>
                                        </div>          
                                        <div class="col-sm-5">
                                            <label for="inputLastName" class="label-emissao">Concessiária</label>
                                            <div>{{getControlValues('concessionariaDesc') ?? '-'}}</div>
                                        </div> 
                                    </div>                                    
                                </form>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
                <div class="card-row">
                    <div class="card-col">  
                        <nb-card>
                            <nb-card-header>Demanda</nb-card-header>
                            <nb-card-body>
                                <form [formGroup]="control">
                                    <div class="row" style="margin-bottom: 0.7rem;">
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName" class="label-emissao">Contratada - Ponta*</label>
                                            <div>{{getControlValues('valorDemandaContratadaPonta') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>          
                                        <div class="col-sm-4">
                                            <label for="inputLastName" class="label-emissao">Contratada - Fora de Ponta*</label>
                                            <div>{{getControlValues('valorDemandaContratadaForaPonta') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div> 
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName" class="label-emissao">Faturada - Ponta (Consumida)*</label>
                                            <div>{{getControlValues('valorDemandaFaturadaPontaConsumida') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>                                      
                                        <div class="col-sm-4">
                                            <label for="inputLastName" class="label-emissao">Faturada - Fora de Ponta (Consumida)*</label>
                                            <div>{{getControlValues('valorDemandaFaturadaForaPontaConsumida') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>                                      
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName" class="label-emissao">Faturada - Ponta (Não Utilizada)*</label>
                                            <div>{{getControlValues('valorDemandaFaturadaPontaNaoConsumida') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>                                      
                                        <div class="col-sm-4">
                                            <label for="inputLastName" class="label-emissao">Faturada - Fora de Ponta (Não Utilizada)*</label>
                                            <div>{{getControlValues('valorDemandaFaturadaForaPontaNaoConsumida') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>                                      
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName" class="label-emissao">Ultrapassagem - Ponta*</label>
                                            <div>{{getControlValues('valorDemandaUltrapassagemPonta') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>  
                                        <div class="col-sm-4">
                                            <label for="inputLastName" class="label-emissao">Ultrapassagem - Fora de Ponta*</label>
                                            <div>{{getControlValues('valorDemandaUltrapassagemForaPonta') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>  
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName" class="label-emissao">Reativa - Ponta*</label>
                                            <div>{{getControlValues('valorDemandaReativaPonta') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div> 
                                        <div class="col-sm-4">
                                            <label for="inputLastName" class="label-emissao">Reativa - Fora de Ponta*</label>
                                            <div>{{getControlValues('valorDemandaReativaForaPonta') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>                                         
                                    </div>                      
                                </form>
                            </nb-card-body>
                    </nb-card>
                    </div>                    
                </div>
                <div class="card-row">
                    <div class="card-col">  
                        <nb-card>
                            <nb-card-header>Consumo</nb-card-header>
                            <nb-card-body>
                                <form [formGroup]="control">
                                    <div class="row">
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName" class="label-emissao">Medido - Ponta - TUSD*</label>
                                            <div>{{getControlValues('valorConsumoTUSDPonta') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>          
                                        <div class="col-sm-4">
                                            <label for="inputLastName" class="label-emissao">Medido - Fora de Ponta - TUSD*</label>
                                            <div>{{getControlValues('valorConsumoTUSDForaPonta') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>          
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName" class="label-emissao">Medido - Ponta - TE*</label>
                                            <div>{{getControlValues('valorConsumoTEPonta') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>          
                                        <div class="col-sm-4">
                                            <label for="inputLastName" class="label-emissao">Medido - Fora de Ponta - TE*</label>
                                            <div>{{getControlValues('valorConsumoTEForaPonta') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>          
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName" class="label-emissao">Medido Reativo - Ponta*</label>
                                            <div>{{getControlValues('valorConsumoMedidoReativoPonta') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>                    
                                        <div class="col-sm-4">
                                            <label for="inputLastName" class="label-emissao">Medido Reativo - Fora de Ponta*</label>
                                            <div>{{getControlValues('valorConsumoMedidoReativoForaPonta') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>                    
                                    </div>
                                </form>     
                            </nb-card-body>
                        </nb-card>
                    </div>                      
                </div>
                <div class="card-row">                                     
                    <div class="card-col">  
                        <nb-card>
                            <nb-card-header>Adicional Bandeira Vigente, Subvenção e Desconto TUSD</nb-card-header>
                            <nb-card-body>
                                <form [formGroup]="control">
                                    <div class="row">
                                        <div class="col-sm-4" *ngIf="showInput()">
                                            <label for="inputLastName" class="label-emissao">Adicional Bandeira Ponta*</label>
                                            <div>{{getControlValues('valorAdicionalBandeiraPonta') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>          
                                        <div class="col-sm-4">
                                            <label for="inputLastName" class="label-emissao">Adicional Bandeira Fora de Ponta*</label>
                                            <div>{{getControlValues('valorAdicionalBandeiraForaPonta') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>      
                                        <div class="col-sm-4">
                                            <label for="inputLastName" class="label-emissao">Subvenção*</label>
                                            <div>{{getControlValues('valorSubvencaoTarifaria') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>          
                                        <div class="col-sm-4">
                                            <label for="inputLastName" class="label-emissao">Desconto TUSD*</label>
                                            <div>{{getControlValues('valorDescontoTUSD') | number:'1.2-3' ?? '-'}}</div>                                        
                                        </div>          
                                    </div>
                                </form>                
                            </nb-card-body>
                        </nb-card>
                    </div>       
                </div>
                <div class="card-row">                                     
                    <div class="card-col">  
                        <nb-card>
                            <nb-card-header>Lançamentos Adicionais</nb-card-header>
                            <nb-card-body>
                                <table class="fatura-tabela">
                                    <tr>
                                      <th></th>
                                      <th style="text-align: center;">Valor</th>
                                    </tr>
                                    <ng-container *ngFor="let lanc of lancamentos">
                                    <tr *ngIf="lanc.contabilizaFatura == false && lanc.tipoCCEE == false">
                                        <td style="text-align: left;">{{ lanc.descricao }}</td>
                                        <td [ngStyle]="{ 'text-align': 'center', 'color': lanc.tipo == '0' ? 'red' : '' }">
                                            {{ lanc.tipo == '0' ? '(' + (lanc.valor | currency:'BRL':'symbol':'1.2-3') + ')' : (lanc.valor | currency:'BRL':'symbol':'1.2-3') }}
                                          </td>
                                    </tr>
                                    </ng-container>
                                    <tr class="total-linha">
                                        <td style="text-align: left;">Total distribuidora</td>
                                        <td [ngStyle]="{ 'text-align': 'center', 'color': totalizador(false, false) < 0 ? 'red' : '' }">
                                            {{ totalizador(false, false) | moedaParenteses }}
                                        </td>

                                    </tr>                                    
                                    <ng-container *ngFor="let lanc of lancamentos">
                                        <tr *ngIf="lanc.contabilizaFatura == true && lanc.tipoCCEE == false">
                                          <td style="text-align: left;">{{ lanc.descricao }}</td>
                                          <td [ngStyle]="{ 'text-align': 'center', 'color': lanc.tipo == '0' ? 'red' : '' }">
                                            {{ lanc.tipo == '0' ? '(' + (lanc.valor | currency:'BRL':'symbol':'1.2-3') + ')' : (lanc.valor | currency:'BRL':'symbol':'1.2-3') }}
                                          </td>
                                        </tr>
                                    </ng-container>  
                                    <tr class="total-linha">
                                        <td style="text-align: left;">Sub-total distribuidora</td>
                                        <td [ngStyle]="{ 'text-align': 'center', 'color': totalizador(true, false) < 0 ? 'red' : '' }">
                                            {{ totalizador(true, false) | moedaParenteses }}
                                        </td>
                                    </tr>
                                    <ng-container *ngFor="let lanc of lancamentos">
                                        <tr *ngIf="lanc.contabilizaFatura == true && lanc.tipoCCEE == true">
                                          <td style="text-align: left;">{{ lanc.descricao }}</td>
                                          <td [ngStyle]="{ 'text-align': 'center', 'color': lanc.tipo == '0' ? 'red' : '' }">
                                            {{ lanc.tipo == '0' ? '(' + (lanc.valor | currency:'BRL':'symbol':'1.2-3') + ')' : (lanc.valor | currency:'BRL':'symbol':'1.2-3') }}
                                          </td>
                                        </tr>
                                    </ng-container>
                                    <tr class="total-linha">
                                        <td style="text-align: left;">Sub-total dos outros custos Mercado Livre</td>
                                        <td [ngStyle]="{ 'text-align': 'center', 'color': totalizador(true, true) < 0 ? 'red' : '' }">
                                            {{ totalizador(true, true) | moedaParenteses }}
                                        </td>
                                    </tr>
                                </table>
                            </nb-card-body>
                        </nb-card>
                    </div>
                </div>
                <button nbButton nbStepperPrevious>Voltar</button>
                <button nbButton style="margin-left: 0.5rem;" status="warning" *ngIf="getControlValues('validado') == false" (click)="emitirFatura()">{{editLabel ? 'Alterar' : 'Emitir'}} Fatura</button>
                <button nbButton style="margin-left: 0.5rem;" status="danger" *ngIf="getControlValues('id') != null" (click)="onValid(!getControlValues('validado'))">{{getControlValues('validado') == false ? 'Validar' : 'Limpar Validação'}}</button>
                <button nbButton style="margin-left: 0.5rem;" (click)="onCancel()">Sair</button>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>