<nb-card>
    <nb-card-body>
        <nb-stepper orientation="horizontal">
            <nb-step [label]="labelOne">
                <ng-template #labelOne>Fatura</ng-template>
                <h6>Dados da Fatura</h6>
                <nb-card style="border: 0rem;">
                    <nb-card-body>
                        <form [formGroup]="control">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="label">Mês Referência*</label>
                                        <input nbInput fullWidth mask="M0/0000" placeholder="__/____"
                                            [dropSpecialCharacters]="false" formControlName="mesReferencia">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="label">Data Vencimento*</label>
                                        <input nbInput fullWidth mask="d0/M0/0000" placeholder="__/__/____"
                                            [dropSpecialCharacters]="false" formControlName="dataVencimento">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ngx-auto-complete [label]="'Ponto de Medição'" [items]="pontosMedicao" [editLabel]="editLabel" [placeholder]="'Nome do Ponto de Medição...'"
                                        (itemSelected)="onItemSelected($event)"></ngx-auto-complete>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="inputLastName" class="label">Concessionária*</label>
                                        <input readonly nbInput fullWidth [value]="concessionarias.length == 1 ? concessionarias[0].descricao : ''">
                                        <nb-select *ngIf="concessionarias.length > 1" fullWidth placeholder="Selecione" formControlName="concessionariaId">
                                            <nb-option *ngFor="let con of concessionarias"
                                                value="{{con.id}}">{{con.descricao}}</nb-option>
                                        </nb-select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
                <button nbButton disabled nbStepperNext>Voltar</button>
                <button nbButton style="margin-left: 0.5rem;" [disabled]="habilitaFatura()" nbStepperNext>Próximo</button>
            </nb-step>
            <nb-step [label]="labelTwo">
                <ng-template #labelTwo>Lançamentos</ng-template>
                <h6>Lançamentos</h6>
                <nb-card style="border: 0rem;">
                    <nb-card-body>
                        <form [formGroup]="control">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="font-weight-bold">Demanda Contratada</p>
                                    <div class="w-50">
                                        <div class="form-group">
                                            <label class="label">Demanda Contratada - Ponta*</label>
                                            <input type="number" nbInput fullWidth formControlName="demPta">
                                        </div>
                                        <div class="form-group">
                                            <label class="label">Demanda Contratada - Fora de Ponta*</label>
                                            <input type="number" nbInput fullWidth formControlName="demForaPta">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <p class="font-weight-bold">Demanda Faturada</p>
                                    <div class="w-50">
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Demanda Faturada - Ponta*</label>
                                            <input type="number" nbInput fullWidth formControlName="demPtaFaturada">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Demanda Faturada - Fora de Ponta*</label>
                                            <input type="number" nbInput fullWidth formControlName="demForaPtaFaturada">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">  
                                    <p class="font-weight-bold">Demanda Ultrapassagem</p>
                                    <div class="w-50">
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Demanda Ultrapassagem - Fora de Ponta*</label>
                                            <input type="number" nbInput fullWidth formControlName="demForaPtaUltrapassagem">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row mt-5">
                                <div class="col-md-4">
                                    <p class="font-weight-bold">Demanda Reativa - Ponta</p>
                                    <div class="w-50">
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Demanda Reativa - Ponta*</label>
                                            <input type="number" nbInput fullWidth formControlName="demPtaReativa">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <p class="font-weight-bold">Demanda Reativa - Fora de Ponta</p>
                                    <div class="w-50">
                                        <div class="form-group">
                                            <label class="label">Demanda Reativa - Fora de Ponta*</label>
                                            <input type="number" nbInput fullWidth formControlName="demForaPtaReativa">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-md-4">
                                    <p class="font-weight-bold">Consumo Medido TUSD</p>
                                    <div class="w-50">
                                        <div class="form-group">
                                            <label class="label">Consumo Medido - Ponta - TUSD*</label>
                                            <input type="number" nbInput fullWidth formControlName="consPtaMedioTusd">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Consumo Medido - Fora de Ponta - TUSD*</label>
                                            <input type="number" nbInput fullWidth formControlName="consForaPtaMedioTusd">
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-4">
                                    <p class="font-weight-bold">Consumo Medido TE</p>
                                    <div class="w-50">
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Consumo Medido - Ponta - TE*</label>
                                            <input type="number" nbInput fullWidth formControlName="consPtaMedioTe">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Consumo Medido - Fora de Ponta - TE*</label>
                                            <input type="number" nbInput fullWidth formControlName="consForaPtaMedioTe">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-4">
                                    <p class="font-weight-bold">Adicional Bandeira Tarifária</p>
                                    <div class="w-50">
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Adicional Bandeira Tarifária Vigente Ponta*</label>
                                            <input type="number" nbInput fullWidth formControlName="adBandTarVigPta">
                                        </div>
                                        <div class="form-group">
                                            <label class="label">Adicional Bandeira Tarifária Vigente F. Ponta*</label>
                                            <input type="number" nbInput fullWidth formControlName="adBandTarVigFPta">
                                        </div>
                                    </div>
                                </div>
                            </div>  

                            <div class="row mt-5">
                                <div class="col-md-4">  
                                    <p class="font-weight-bold">Consumo Medido Reativo - Ponta</p>
                                    <div class="w-50">
                                        <div class="form-group">
                                            <label class="label">Consumo Medido Reativo - Ponta*</label>
                                            <input type="number" nbInput fullWidth formControlName="consPtaMedidoReativo">
                                        </div>
                                    </div>
                                </div>     
                                <div class="col-md-4">  
                                    <div class="w-50">
                                        <p class="font-weight-bold">Consumo Medido Reativo - Fora de Ponta</p>
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Consumo Medido Reativo - Fora de Ponta*</label>
                                            <input type="number" nbInput fullWidth formControlName="consForaPtaMedidoReativo">
                                        </div> 
                                    </div>
                                </div>                      
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-4">  
                                    <p class="font-weight-bold">Subvenção Tarifária</p>
                                    <div class="w-50">
                                        <div class="form-group">
                                            <label for="inputLastName" class="label">Subvenção Tarifária*</label>
                                            <input type="number" nbInput fullWidth formControlName="subvencaoTarifaria">
                                        </div>
                                    </div>
                                </div>                           
                            </div>                                                
                        </form>
                    </nb-card-body>
                </nb-card>
                <button nbButton nbStepperPrevious>Voltar</button>
                <button nbButton style="margin-left: 0.5rem;" nbStepperNext>Próximo</button>
            </nb-step>
            <nb-step [label]="labelThree">
                <ng-template #labelThree>Lançamentos Adicionais</ng-template>
                <h6>Lançamentos Adicionais</h6>
                <nb-card style="border: 0rem;">
                    <nb-card-body>
                        <form [formGroup]="lancamentoControl">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="label">Lançamento*</label>
                                        <input type="text" nbInput fullWidth formControlName="lancamento">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="label">Valor*</label>
                                        <input type="number" nbInput fullWidth formControlName="valor">
                                    </div>
                                </div>                            
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="label">Tipo*</label>
                                        <nb-select fullWidth placeholder="Selecione" formControlName="tipo">
                                            <nb-option value="Debito">Débito</nb-option>
                                            <nb-option value="Credito">Crédito</nb-option>
                                        </nb-select>
                                    </div>
                                </div>  
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <button nbButton style="margin-top: 1.7rem;" status="warning" (click)="adicionarLancamento()">Adicionar</button>
                                    </div>
                                </div>                            
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="excluirLancamento($event)">
                                    </ng2-smart-table>
                                </div>
                            </div>
                        </form>
                    </nb-card-body>
                </nb-card>
                <button nbButton nbStepperPrevious>Voltar</button>
                <button nbButton style="margin-left: 0.5rem;" nbStepperNext>Próximo</button>                
            </nb-step>
            <nb-step [label]="labelFour">
                <ng-template #labelFour>Emissão</ng-template>
                <nb-card style="border: 0rem;">
                    <nb-card-body>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="font-weight-bold">Dados da Fatura</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="w-75">
                                    <div class="">
                                        <div class="label">Mês referencia</div>
                                        <div>{{getControlValues('mesReferencia') ?? '-'}}</div>
                                    </div>
                                    <div class="mt-3">
                                        <div class="label">Ponto de Medição</div>
                                        <div>{{getControlValues('pontoMedicaoDesc') ?? '-'}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="w-75">
                                    <div class="">
                                        <div class="label">Data Vencimento</div>
                                        <div>{{getControlValues('dataVencimento') ?? '-'}}</div>
                                    </div>
                                    <div class="mt-3">
                                        <div class="label">Concessionária</div>
                                        <div>{{getControlValues('concessionariaDesc') ?? '-'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <p class="font-weight-bold">Demanda Contratada</p>
                                <div class="w-75">
                                    <div class="">
                                        <div class="label">Demanda Contratada - Ponta</div>
                                        <div>{{getControlValues('demPta') ?? '-'}}</div>
                                    </div>
                                    <div class="mt-3">
                                        <div class="label">Demanda Contratada - Fora de Ponta</div>
                                        <div>{{getControlValues('demForaPta') ?? '-'}}</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <p class="font-weight-bold">Demanda Faturada</p>
                                <div class="w-75">
                                    <div class="">
                                        <div class="label">Demanda Faturada - Ponta</div>
                                        <div>{{getControlValues('demPtaFaturada') ?? '-'}}</div>
                                    </div>
                                    <div class="mt-3">
                                        <div class="label">Demanda Faturada - Fora de Ponta</div>
                                        <div>{{getControlValues('demForaPtaFaturada') ?? '-'}}</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">  
                                <p class="font-weight-bold">Demanda Ultrapassagem</p>
                                <div class="w-75">
                                    <div class="mt-3">
                                        <div class="label">Demanda Ultrapassagem - Fora de Ponta</div>
                                        <div>{{getControlValues('demForaPtaUltrapassagem') ?? '-'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <div class="font-weight-bold">Demanda Reativa - Ponta</div>
                                <div class="w-75">
                                    <div>{{getControlValues('demPtaReativa') ?? '-'}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="font-weight-bold">Demanda Reativa - Fora de Ponta</div>
                                <div class="w-75">
                                    <div>{{getControlValues('demForaPtaReativa') ?? '-'}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-4">
                                <p class="font-weight-bold">Consumo Medido TUSD</p>
                                <div class="w-75">
                                    <div class="mt-3">
                                        <div class="label">Consumo Medido - Ponta - TUSD</div>
                                        <div>{{getControlValues('consPtaMedioTusd') ?? '-'}}</div>
                                    </div>
                                    <div class="mt-3">
                                        <div class="label">Consumo Medido - Fora de Ponta - TUSD</div>
                                        <div>{{getControlValues('consForaPtaMedioTusd') ?? '-'}}</div>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-4">
                                <p class="font-weight-bold">Consumo Medido TE</p>
                                <div class="w-75">
                                    <div class="mt-3">
                                        <div class="label">Consumo Medido - Ponta - TE</div>
                                        <div>{{getControlValues('consPtaMedioTe') ?? '-'}}</div>
                                    </div>
                                    <div class="mt-3">
                                        <div class="label">Consumo Medido - Fora de Ponta - TE</div>
                                        <div>{{getControlValues('consForaPtaMedioTe') ?? '-'}}</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <p class="font-weight-bold">Adicional Bandeira Tarifária</p>
                                <div class="w-75">
                                    <div class="mt-3">
                                        <div class="label">Adicional Bandeira Tarifária Vigente Ponta</div>
                                        <div>{{getControlValues('adBandTarVigPta') ?? '-'}}</div>
                                    </div>
                                    <div class="mt-3">
                                        <div class="label">Adicional Bandeira Tarifária Vigente F. Ponta</div>
                                        <div>{{getControlValues('adBandTarVigFPta') ?? '-'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <div class="row mt-5">
                            <div class="col-md-4">  
                                <div class="font-weight-bold">Consumo Medido Reativo - Ponta</div>
                                <div class="w-75">
                                    <div>{{getControlValues('consPtaMedidoReativo') ?? '-'}}</div>
                                </div>
                            </div>     
                            <div class="col-md-4">  
                                <div class="font-weight-bold">Consumo Medido Reativo - Fora de Ponta</div>
                                <div class="w-75">
                                    <div>{{getControlValues('consForaPtaMedidoReativo') ?? '-'}}</div>
                                </div>
                            </div>                      
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-4">  
                                <div class="font-weight-bold">Subvenção Tarifária</div>
                                <div class="w-75">
                                    <div>{{getControlValues('subvencaoTarifaria') ?? '-'}}</div>
                                </div>
                            </div>                           
                        </div>
                        <div class="row mt-5">
                            <div class="col-md-12">  
                                <div class="font-weight-bold">Lançamentos Adicionais</div>
                                <div class="row mt-4">
                                    <div class="col-md-12">
                                        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="excluirLancamento($event)">
                                        </ng2-smart-table>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </nb-card-body>
                </nb-card>
                <button nbButton nbStepperPrevious>Voltar</button>
                <button nbButton style="margin-left: 0.5rem;" (click)="emitirFatura()" nbStepperNext>Emitir Fatura</button>                
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>