<div class="row show-grid">
    <div class="col-12 col-md-4" *ngFor="let statusCard of statusCards">
      <a>
        <ngx-status-card
          [title]="statusCard.title"
          [type]="statusCard.type"
          [link]="statusCard.link"
        >
          <i [ngClass]="statusCard.iconClass"></i>
        </ngx-status-card>
      </a>
    </div>
</div>
<div class="card-row" *ngIf="true">
  <div class="col-sm-6" >
    <nb-card accent="danger" size="small">
      <nb-card-header>Pendências de 12/2024</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settingsPendencias" [source]="sourcePendencias" (deleteConfirm)="onSelectPendencias($event)">
        </ng2-smart-table>
      </nb-card-body>    
    </nb-card>
  </div>
  <div class="col-sm-6" >
    <nb-card accent="warning" size="small">
      <nb-card-header>Contratos com Término 12/2024</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settingsContratos" [source]="sourceContratos" (deleteConfirm)="onSelectContratos($event)">
        </ng2-smart-table>
      </nb-card-body>    
    </nb-card>
  </div>
  
</div>
<div class="card-row"  *ngIf="true">
  <div class="col-sm-6">
    <nb-card accent="info">
      <nb-card-header>Status das Coletas de Medições</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie></ngx-echarts-pie>
      </nb-card-body>    
    </nb-card>
  </div>
  <div class="col-sm-6">
    <nb-card accent="info">
      <nb-card-header>Total de Consumo Últimos 6 Meses</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar></ngx-echarts-bar>
      </nb-card-body>    
    </nb-card>
  </div>
</div>
