<div class="row show-grid">
    <div class="col-12 col-md-3" *ngFor="let statusCard of statusCards">
      <a>
        <ngx-status-card
          [title]="statusCard.title"
          [type]="statusCard.type"
          [link]="statusCard.link"
        >
          <i [ngClass]="statusCard.iconClass"></i>
        </ngx-status-card>
      </a>
    </div>
</div>
<div class="card-row">
  <div class="col-sm-6" >
    <nb-card accent="danger" size="small" [nbSpinner]="!checklist">
      <nb-card-header>Checklist Operacional {{mesReferencia}}</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settingsPendencias" [source]="sourceChecklist" (deleteConfirm)="onSelectPendencias($event)">
        </ng2-smart-table>
      </nb-card-body>    
    </nb-card>
  </div>
  <div class="col-sm-6" >
    <nb-card accent="warning" size="small" [nbSpinner]="!contratos">
      <nb-card-header>Contratos Finalizando em {{mesReferencia}}</nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="settingsContratos" [source]="sourceContratos">
        </ng2-smart-table>
      </nb-card-body>    
    </nb-card>
  </div>
  
</div>
<div class="card-row">
  <div class="col-sm-6">
    <nb-card accent="info" [nbSpinner]="!medicoes">
      <nb-card-header>Status das Coletas de Medições {{mesReferenciaAnterior}}</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie *ngIf="medicoes" [descricao]="'Medições'" [dataSource]="pieSource"></ngx-echarts-pie>
      </nb-card-body>    
    </nb-card>
  </div>
  <div class="col-sm-6">
    <nb-card accent="info" [nbSpinner]="!consumo">
      <nb-card-header>Total de Consumo kWh Últimos 6 Meses</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar *ngIf="consumo" [dataSource]="barSource"></ngx-echarts-bar>
      </nb-card-body>    
    </nb-card>
  </div>
</div>
