<form [formGroup]="control">
  <div class="card-row" *ngIf="edit" [nbSpinner]="loading">
    <div class="card-col">
      <nb-card>
        <nb-card-body>
          <nb-tabset>
            <nb-tab tabTitle="Cadastro de Empresa">
              <nb-card class="no-border">
              <input hidden id="id" type="text" formControlName="id">
              <nb-card-body>
                <div class="row" hidden>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="inputFirstName" class="label">Selecionar Matriz?*</label><br>
                      <nb-toggle labelPosition="end" formControlName="tipoFilial"></nb-toggle>
                    </div>
                  </div>          
                  <div class="col-sm-8">
                    <div class="form-group" *ngIf="isFilial()">
                      <label for="inputFirstName" class="label">Empresa Matriz*</label>
                      <nb-select fullWidth placeholder="Selecione" formControlName="empresaMatrizId">
                        <nb-option *ngFor="let emp of empresasMatriz" value="{{emp.id}}">{{emp.descricao}}</nb-option>
                      </nb-select>
                    </div>
                  </div>
                </div>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputFirstName" class="label">CPF/CNPJ*</label>
                        <input type="text" [mask]="control.get('cnpj').value?.length !== 11 ? '00.000.000/0000-00' : '000.000.000-009'" nbInput fullWidth id="inputFirstName" placeholder="00.000.000/0000-00" formControlName="cnpj">
                      </div>
                    </div>          
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputFirstName" class="label">Nome*</label>
                        <input type="text" nbInput fullWidth id="inputFirstName" placeholder="" formControlName="nome">
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputFirstName" class="label">Nome Fantasia*</label>
                        <input type="text" nbInput fullWidth id="inputFirstName" placeholder="" formControlName="nomeFantasia">
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="false">
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="inputLastName" class="label">Dados da CTA UC*</label>
                        <input type="text" nbInput fullWidth id="inputLastName" placeholder="" formControlName="dadosCtaUc">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="inputEmail" class="label">Fonte de Energia*</label>
                        <input type="email" nbInput fullWidth id="inputEmail" placeholder="" formControlName="fonteEnergia">
                      </div>
                    </div>          
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="inputLastName" class="label">Submercado</label>
                        <input type="text" nbInput fullWidth id="inputLastName" placeholder="" formControlName="submercado">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="inputEmail" class="label">Conexão</label>
                        <input type="email" nbInput fullWidth id="inputEmail" placeholder="" formControlName="conexao">
                      </div>
                    </div>
                  </div>        
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputLastName" class="label">CEP</label>
                        <input type="text" nbInput fullWidth id="inputLastName" formControlName="cep" (blur)="onCepSelect()" [(ngModel)]="cepSelected" mask="00000-000" placeholder="00000-000" [dropSpecialCharacters]="true">
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        <label for="inputFirstName" class="label">Endereço</label>
                        <input type="text" nbInput fullWidth id="inputFirstName" placeholder="" formControlName="logradouro">
                      </div>
                    </div>         
                  </div>
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label for="inputFirstName" class="label">Bairro</label>
                        <input type="text" nbInput fullWidth id="inputFirstName" placeholder="" formControlName="bairro">
                      </div>
                    </div>  
                    <div class="col-sm-4">
                      <div class="form-group">
                        <label for="inputLastName" class="label">Cidade</label>
                        <input type="text" nbInput fullWidth id="inputLastName" placeholder="" formControlName="cidade">
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label for="inputEmail" class="label">*Estado</label><br>
                        <nb-select fullWidth placeholder="Selecione" formControlName="estado">
                          <nb-option *ngFor="let uf of estados" value="{{uf.sigla}}">{{uf.sigla}}</nb-option>
                        </nb-select>
                      </div>
                    </div>                                              
                  </div>    
                  <div class="row">
                    <div class="col-sm-10">
                      <div class="form-group">
                        <label for="inputEmail" class="label">Responsável Coenel</label><br>
                        <input type="text" nbInput fullWidth id="inputFirstName" placeholder="" formControlName="responsavelGestor">
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group">
                        <label for="inputEmail" class="label">*Ativa</label><br>
                        <nb-select fullWidth placeholder="Selecione" formControlName="ativo">
                          <nb-option [value]="true">SIM</nb-option>
                          <nb-option [value]="false">NÃO</nb-option>
                        </nb-select>
                      </div>
                    </div>          
                  </div>             
              </nb-card-body>
              <nb-card-footer>
                <button type="submit" nbButton status="info"  (click)="onSubmit()" [disabled]="!control.valid" *ngIf="habilitaOperacoes">{{selected ? 'Alterar' : 'Cadastrar'}}</button>
                <button type="submit" *ngIf="selected && habilitaOperacoes" nbButton status="danger" style="margin-left: 0.5rem;" (click)="onDeleteConfirm()">Excluir</button>
                <button type="submit" nbButton style="margin-left: 0.5rem;" (click)="limparFormulario()">Voltar</button>   
              </nb-card-footer>
            </nb-card>              
            </nb-tab>
            <nb-tab tabTitle="Grupo de Contatos" *ngIf="selected">
              <nb-card class="no-border">
                <nb-card-body>
                  <ng2-smart-table [settings]="settingsContato" [source]="sourceContato" (deleteConfirm)="onSelect($event)">
                  </ng2-smart-table>
                </nb-card-body>
                <nb-card-footer>
                  <button type="submit" nbButton status="info" (click)="onContatoConfirm()" *ngIf="contatosChecked.length === 0 && habilitaOperacoes">Cadastrar</button>
                  <button type="submit" nbButton status="info" (click)="onContatoEdit()" *ngIf="contatosChecked.length === 1 && habilitaOperacoes">Alterar</button>
                  <button type="submit" nbButton status="danger" style="margin-left: 0.5rem;" (click)="onContatoDelete()" *ngIf="habilitaOperacoes" [disabled]="contatosChecked.length === 0">Excluir</button>
                </nb-card-footer>                 
              </nb-card>              
            </nb-tab>
            <nb-tab tabTitle="Agentes de Medição" *ngIf="selected">
              <nb-card class="no-border">
                <nb-card-body>
                  <div class="form-group">
                    <ng2-smart-table [settings]="settingsAgentes" [source]="sourceAgenteMedicao" (deleteConfirm)="onSelect($event)">
                    </ng2-smart-table>  
                  </div>
                </nb-card-body>
                <nb-card-footer>
                  <button type="submit" nbButton status="info" (click)="onAgenteConfirm()" *ngIf="agentesChecked.length === 0 && habilitaOperacoes">Cadastrar</button>
                  <button type="submit" nbButton status="info" (click)="onAgenteEdit()" *ngIf="agentesChecked.length === 1 && habilitaOperacoes">Alterar</button>
                  <button type="submit" nbButton status="danger" style="margin-left: 0.5rem;" (click)="onAgenteDelete()" *ngIf="habilitaOperacoes" [disabled]="agentesChecked.length === 0">Excluir</button>
                </nb-card-footer>                   
              </nb-card>                  
            </nb-tab>
            <nb-tab tabTitle="Pontos de Medição" *ngIf="selected && sourceAgenteMedicao.count() > 0">
              <nb-card class="no-border">                
                <nb-card-body>
                    <div class="form-group">
                      <ng2-smart-table [settings]="settingsPontos" [source]="sourcePontoMedicao" (deleteConfirm)="onSelect($event)">
                      </ng2-smart-table>  
                    </div>
                </nb-card-body>
                <nb-card-footer>
                  <button type="submit" nbButton status="info" (click)="onPontoConfirm()" *ngIf="pontosChecked.length === 0 && habilitaOperacoes">Cadastrar</button>
                  <button type="submit" nbButton status="info" (click)="onPontoEdit()" *ngIf="pontosChecked.length === 1 && habilitaOperacoes">Alterar</button>
                  <button type="submit" nbButton status="danger" style="margin-left: 0.5rem;" (click)="onPontoDelete()" *ngIf="habilitaOperacoes" [disabled]="pontosChecked.length === 0">Excluir</button>
                </nb-card-footer>                    
              </nb-card>                 
            </nb-tab>
          </nb-tabset>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</form>
<div class="card-row" [nbSpinner]="loading">
  <div class="card-col">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="table-header">
              Empresas Cadastradas
          </div>
          <div *ngIf="!edit && habilitaOperacoes">
            <div class="form-group">
              <nb-actions size="small">
                <nb-action icon="plus-outline" (click)="onEdit()"></nb-action>
              </nb-actions>
            </div>
          </div>
        </div>
      </nb-card-header>

      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onSelect($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>