<form [formGroup]="control">
<div class="form-group">
    <label for="inputFirstName" class="label">{{label}}*</label>
    <input
      fullWidth
      formControlName="items"
      nbInput
      type="text"
      [placeholder]="placeholder"
      [nbAutocomplete]="autoControl" />

      <nb-autocomplete #autoControl>
        <nb-option
          *ngFor="let option of filteredControlOptions$ | async"
          [value]="option"
          (click)="onOptionSelected(option)">
          {{ option }}
        </nb-option>
      </nb-autocomplete>
  </div>
</form>
