<label for="inputLastName" class="label">{{label}}*</label>
<div class="autocomplete">
    <!-- Campo de entrada com Nebular -->
    <input *ngIf="editLabel" nbInput fullWidth [value]="editLabel | uppercase" readonly autocomplete="off" style="margin-top: -10px;" class="no-border no-background"/>

    <!-- Campo de entrada com Nebular -->
    <input *ngIf="!editLabel" nbInput fullWidth [formControl]="searchControl" placeholder="Nome da Empresa..." autocomplete="off" />

    <!-- Lista de sugestões -->
    <nb-card *ngIf="filteredItems.length" class="suggestions">
        <nb-card-body>
            <div *ngFor="let item of filteredItems" (click)="selectItem(item)" class="suggestion-item">
                {{ item.descricao }}
            </div>
        </nb-card-body>
    </nb-card>
</div>