<form [formGroup]="control">
<div class="form-group">
    <label for="inputFirstName" class="label">{{label}}*</label>
    <input
      fullWidth
      formControlName="items"
      nbInput
      type="text"
      [placeholder]="placeholder"
      [nbAutocomplete]="autoControl"
      [required]="required"
      [class.ng-invalid]="control.get('items')?.invalid && (control.get('items')?.touched || control.get('items')?.dirty)"
      [class.ng-valid]="control.get('items')?.valid"/>

      <nb-autocomplete #autoControl>
        <nb-option
          *ngFor="let option of filteredControlOptions$ | async"
          [value]="option"
          (click)="onOptionSelected(option)">
          {{ option }}
        </nb-option>
      </nb-autocomplete>
  </div>
</form>
