  <form [formGroup]="control">    
    <div class="card-row" [nbSpinner]="loading">
      <div class="card-col">
        <nb-card>
          <nb-card-body>
            <nb-tabset>
              <nb-tab tabTitle="Alterar Senha">
                <nb-card style="border: 0rem;">
                <nb-card-body>
                    <input hidden id="id" type="text" formControlName="id">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                            <label for="inputFirstName" class="label">Senha Antiga*</label>
                            <input type="text" nbInput fullWidth id="inputFirstName" placeholder="" formControlName="senhaAntiga">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                            <label for="inputFirstName" class="label">Nova Senha*</label>
                            <input type="text" nbInput fullWidth id="inputFirstName" placeholder="" formControlName="novaSenha">
                            </div>
                        </div>
                    </div>  
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                            <label for="inputFirstName" class="label">Repetir Senha*</label>
                            <input type="text" nbInput fullWidth id="inputFirstName" placeholder="" formControlName="novaSenhaRepetir">
                            </div>
                        </div>
                    </div>              
                    </nb-card-body>
                  <nb-card-footer>
                    <button type="submit" nbButton status="info" (click)="onSubmit()" [disabled]="!control.valid">Alterar Senha</button>
                    <button type="submit" nbButton style="margin-left: 0.5rem;" (click)="limparFormulario()">Cancelar</button>
                  </nb-card-footer>          
                </nb-card>                
              </nb-tab>
            </nb-tabset>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </form>