<form [formGroup]="control">
    <nb-card accent="warning">
        <nb-card-header>Validar Relatório de Medição</nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="subtitle">Formulário Validado?</div><br>
                            <nb-button-group (valueChange)="updateSingleSelectGroupValue($event)">
                                <button nbButtonToggle value="true">Sim</button>
                                <button nbButtonToggle value="false" style="margin-left: 1rem;">Não</button>
                            </nb-button-group>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="subtitle">Observação</div>
                        <textarea nbInput fullWidth formControlName="observacao" rows="5" cols="50"></textarea>
                    </div>
                </div>
            </div>                    
        </nb-card-body>
        <nb-card-footer>
            <div class="text-center">
                <button nbButton status="info" (click)="submit()" [disabled]="!habilitaValidar">Confirmar</button>
                <button nbButton status="basic" style="margin-left: 2.5rem;" (click)="cancel()">Cancelar</button>
            </div>
        </nb-card-footer>
    </nb-card>
</form>