<nb-card style="border: 0rem;" [nbSpinner]="loading" nbSpinnerStatus="info">                 
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onEdit($event)">
        </ng2-smart-table>
    </nb-card-body>
    <nb-card-footer>
      <button type="submit" nbButton status="info" (click)="onCreate()" *ngIf="checked.length === 0">Cadastrar</button>
      <button type="submit" nbButton status="info" (click)="onEdit()" *ngIf="checked.length === 1">Alterar</button>
      <button type="submit" nbButton status="danger" style="margin-left: 0.5rem;" (click)="onDelete()"[disabled]="checked.length === 0">Excluir</button>
    </nb-card-footer>                  
  </nb-card>    