<form [formGroup]="control">
    <div class="card-row" *ngIf="edit" [nbSpinner]="loading">
      <div class="card-col">
        <nb-card>
          <nb-card-body>
            <nb-tabset>
              <nb-tab tabTitle="Cadastro de Energia Acumulada">
                <nb-card style="border: 0rem;">
                  <nb-card-body>
                    <input hidden id="id" type="text" formControlName="id">
                    <div class="row">
                      <div class="col-md-9">
                        <label *ngIf="energiaAcumulada != null" class="label">Ponto de Medição*</label>
                        <input *ngIf="energiaAcumulada != null" readonly nbInput fullWidth [value]="energiaAcumulada.pontoMedicaoDesc" style="background-color: transparent; border: 0px; margin-top: -1.7rem;">

                        <ngx-auto-complete *ngIf="pontosMedicao.length > 1 && energiaAcumulada == null" [label]="'Ponto de Medição'" [items]="pontosMedicao" [editLabel]="editLabel"
                            (itemSelected)="onItemSelected($event)"></ngx-auto-complete>
                      </div>
                      </div>
                      <div class="row">
                      <div class="col-md-3">
                        <div class="form-group">
                            <label class="label">Mês Referência*</label>
                            <input nbInput fullWidth mask="M0/0000" placeholder="__/____"
                                [dropSpecialCharacters]="false" formControlName="mesReferencia">
                        </div>
                    </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label for="inputFirstName" class="label">Energia Mensal Acumulada*</label>
                          <input type="number" nbInput fullWidth id="inputFirstName" formControlName="ValorMensalAcumulado">
                        </div>
                      </div>                      
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="label">Energia Total Acumulada</label>
                          <input type="number" nbInput fullWidth formControlName="ValorTotalAcumulado">
                        </div>
                      </div>
                    </div>                    
                  </nb-card-body>
                  <nb-card-footer>
                    <button type="submit" nbButton status="info" (click)="onSubmit()" [disabled]="!control.valid" *ngIf="habilitaOperacoes">{{selected ? 'Alterar' : 'Cadastrar'}}</button>
                    <button type="submit" *ngIf="selected && habilitaOperacoes" nbButton status="danger" style="margin-left: 0.5rem;" (click)="onDeleteConfirm()">Excluir</button>
                    <button type="submit" nbButton style="margin-left: 0.5rem;" (click)="limparFormulario()">Voltar</button>
                  </nb-card-footer>
                </nb-card>
                </nb-tab>
                <nb-tab *ngIf="energiaAcumulada != null" tabTitle="Histórico de Energia Acumulada">
                <nb-card style="border: 0rem;">
                  <nb-card-body>
                    <label *ngIf="energiaAcumulada != null" class="label">Ponto de Medição*</label>
                    <input *ngIf="energiaAcumulada != null" readonly nbInput fullWidth [value]="energiaAcumulada.pontoMedicaoDesc" style="background-color: transparent; border: 0px; margin-top: -1.7rem;">

                    <ng2-smart-table [settings]="settingsHistorico" [source]="sourceHistorico" (deleteConfirm)="onSelect($event)">
                    </ng2-smart-table>
                  </nb-card-body>  
                </nb-card>
              </nb-tab>          
            </nb-tabset>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="info">
      <nb-card-header>
        <div class="row">
          <div class="table-header">
            Energias Acumuladas Cadastradas
          </div>
          <div *ngIf="!edit && habilitaOperacoes">
            <div class="form-group">
              <nb-actions size="small">
                <nb-action icon="plus-outline" (click)="onEdit()"></nb-action>
              </nb-actions>
            </div>
          </div>
        </div>
      </nb-card-header>
  
      <nb-card-body>
        <ng2-smart-table [settings]="settingsEnergiaAcumulada" [source]="source" (deleteConfirm)="onSelect($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </form>