<form [formGroup]="control">
    <nb-card accent="warning">
        <nb-card-header>
            <div class="subtitle">Faturamento {{control.get('faturamento')?.value}}</div>                    
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="subtitle">Valor UN</div>
                        <input type="text" nbInput fullWidth required id="inputFirstName" formControlName="valorUnitario" mask="separator.2" thousandSeparator="." decimalMarker=",">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="subtitle">Qtde (MWh)</div>
                        <input type="text" readonly nbInput fullWidth required id="inputFirstName" formControlName="quantidade" mask="separator.5" thousandSeparator="." decimalMarker=",">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="subtitle">Valor ICMS</div>
                        <input type="text" readonly nbInput fullWidth required id="inputFirstName" formControlName="valorICMS" mask="separator.5" thousandSeparator="." decimalMarker=",">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="subtitle">Total Produto</div>
                        <input type="text" readonly nbInput fullWidth required id="inputFirstName" formControlName="valorProduto" mask="separator.5" thousandSeparator="." decimalMarker=",">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="subtitle">Total Nota</div>
                        <input type="text" readonly nbInput fullWidth required id="inputFirstName" formControlName="valorNota" mask="separator.5" thousandSeparator="." decimalMarker=",">
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <div class="text-center">
                <button nbButton status="info" (click)="submit()" [disabled]="!control.valid">Confirmar</button>
                <button nbButton status="basic" style="margin-left: 0.5rem;" (click)="cancel()">Cancelar</button>
            </div>
        </nb-card-footer>
    </nb-card>
</form>