<div class="card-row">
    <div class="card-col">
        <nb-card>
            <nb-card-body>
                <nb-tabset>
                    <nb-tab tabTitle="Comparativo Economia">
                        <nb-card style="border: 0rem;">
                            <nb-card-body>
                                
                            </nb-card-body>
                        </nb-card>
                    </nb-tab>
                    <nb-tab tabTitle="Lançamentos Fatura">
                        <nb-card style="border: 0rem;">
                            <nb-card-body>
                            </nb-card-body>
                        </nb-card>
                    </nb-tab>
                    <nb-tab tabTitle="Total Distribuidora">
                        <nb-card style="border: 0rem;">
                            <nb-card-body>
                            </nb-card-body>
                        </nb-card>
                    </nb-tab>
                    <nb-tab tabTitle="Sub-total Valores Distribuidora">
                        <nb-card style="border: 0rem;">
                            <nb-card-body>
                            </nb-card-body>
                        </nb-card>
                    </nb-tab>
                    <nb-tab tabTitle="Sub-total Custos Mercado Livre">
                        <nb-card style="border: 0rem;">
                            <nb-card-body>
                            </nb-card-body>
                        </nb-card>
                    </nb-tab>
                </nb-tabset>
            </nb-card-body>
        </nb-card>
    </div>
</div>