<div class="row"  *ngIf="!selected">
  <div class="col-md-12">
      <nb-card [nbSpinner]="loading" nbSpinnerStatus="info">
          <nb-card-header>
            <div class="row">
                <div class="table-header">
                    Relatório de Economia
                </div>
                <div>
                    <nb-actions size="small">
                      <nb-action icon="question-mark-circle-outline" (click)="onHelp()" class="warning" ></nb-action>
                    </nb-actions>
                </div> 
            </div>
          </nb-card-header>
          <nb-card-body>
              <div class="row">
                  <div class="col-sm-2">
                      <div class="form-group">
                          <label for="inputEmail" class="label">Mês Referência</label><br />
                          <nb-select fullWidth placeholder="Selecione" (selectedChange)="onSearch($event)">
                              <nb-option>Selecione</nb-option>
                              <nb-option *ngFor="let mes of getMeses()"
                                  value="{{mes.id}}">{{mes.descricao}}</nb-option>
                          </nb-select>
                      </div>
                    </div>                   
              </div>
          </nb-card-body>
      </nb-card>
      <nb-card [nbSpinner]="loading" nbSpinnerStatus="info">
          <nb-card-header>Relatórios Emitidos</nb-card-header>
          <nb-card-body>
              <div class="row">
                  <div class="col-sm-12">
                      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onSelect($event)">
                      </ng2-smart-table>
                  </div>
              </div>
          </nb-card-body>
      </nb-card>        
  </div>
</div>

<form [formGroup]="control" *ngIf="selected">
    <div class="row">
        <div class="col-md-12">
            <nb-card accent="warning" [nbSpinner]="loading">
                <nb-card-header>Relatório de Economia {{relatorioEconomia.mesReferencia | date: 'MM/yyyy'}}</nb-card-header>
                <nb-card-body>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="subtitle sub-med">Unidade</div>
                            <div class="h7">{{relatorioEconomia.cabecalho.unidade}}</div>
                        </div>
                        <div class="col-md-2">
                            <div class="subtitle sub-med">Submercado</div>
                            <div class="h7">{{relatorioEconomia.cabecalho.subMercado}}</div>
                        </div>
                        <div class="col-md-2">
                            <div class="subtitle sub-med">Conexão</div>
                            <div class="h7">{{getConexao(relatorioEconomia.cabecalho.conexao)}}</div>
                        </div>
                        <div class="col-md-2">
                            <div class="subtitle sub-med">Segmento</div>
                            <div class="h7 blue" *ngIf="relatorioEconomia.cabecalho.segmento">AZUL</div>
                            <div class="h7 green" *ngIf="!relatorioEconomia.cabecalho.segmento">VERDE</div>
                        </div>
                        <div class="col-md-2">
                            <div class="subtitle sub-med">Concessão</div>
                            <div class="h7">{{relatorioEconomia.cabecalho.concessao}}</div>
                        </div>
                    </div>
                    <div class="row top-up">
                        <div class="col-md-3">
                            <div class="subtitle sub-med">CNPJ</div>
                            <div class="h7">{{relatorioEconomia.cabecalho.cnpj}}</div>
                        </div>
                        <div class="col-md-2">
                            <div class="subtitle sub-med">Inscrição Estadual</div>
                            <div class="h7">{{relatorioEconomia.cabecalho.inscricaoEstadual ?? '-'}}</div>
                        </div>
                        <div class="col-md-4">
                            <div class="subtitle sub-med">Endereço</div>
                            <div class="h7">{{relatorioEconomia.cabecalho.endereco}}</div>
                        </div>
                        <div class="col-md-2">
                            <div class="subtitle sub-med">Munucípio</div>
                            <div class="h7">{{relatorioEconomia.cabecalho.municipio}}</div>
                        </div>
                        <div class="col-md-1">
                            <div class="subtitle sub-med">UF</div>
                            <div class="h7">{{relatorioEconomia.cabecalho.uf}}</div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>

    <div class="card-row" [nbSpinner]="loading">
        <div class="card-col">
            <nb-card accent="primary">
                <nb-card-body>
                    <nb-tabset>
                      <nb-tab tabTitle="Mercado Cativo vs. Mercado Livre">
                        <nb-card style="border: 0rem;">
                            <nb-card-body>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="fatura-tabela" *ngIf="relatorioFinal?.comparativo?.lancamentos?.length > 0">
                                            <tr>
                                                <th colspan="4">{{relatorioFinal?.comparativo?.titulo}}</th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th style="text-align: center;">Percentual (%)</th>
                                                <th style="text-align: center;">Valor (R$)</th>
                                                <th>Observação</th>
                                            </tr>
                                            <tr *ngFor="let lanc of relatorioFinal?.comparativo?.lancamentos" [ngClass]="lanc.subTotal ? 'sub-total-linha' : lanc.total ? 'total-linha' : ''">
                                                <td>{{lanc.descricao}}</td>
                                                <td style="text-align: center; {{lanc.percentual && lanc.percentual < 0 ? 'color: red' : ''}}">{{lanc.percentual | number:'1.2-2'}}{{lanc.percentual && lanc.percentual > 0 ? '%' : ''}}</td>
                                                <td style="text-align: center; {{lanc.valor && lanc.valor < 0 ? 'color: red' : ''}}">{{lanc.valor | currency:'BRL':'symbol':'1.2-2'}}</td>
                                                <td>{{lanc.observacao}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div *ngIf="chartOption && relatorioFinal?.comparativo?.lancamentos?.length > 0"
                                    class="row justify-content-center" style="margin-top: 1.7rem; text-align: center;">
                                 
                                 <div class="col-12 d-flex flex-column align-items-center">
                                   <div class="h7 mb-3">{{ relatorioFinal?.grafico?.titulo }}</div>
                               
                                   <div echarts 
                                        (chartInit)="onChartInit($event)"
                                        [options]="chartOption"
                                        [style.height.px]="250"
                                        style="width: 58%; max-width: 100%;">
                                   </div>

                                   <div class="h7 mb-3"><strong>{{relatorioFinal?.comparativo?.observacao}}</strong></div>
                                 </div>
                               </div>
                            </nb-card-body>
                        </nb-card>
                    </nb-tab>                      
                      <nb-tab *ngFor="let grupo of relatorioFinal?.grupos" tabTitle="{{grupo.titulo}}">
                        <nb-card style="border: 0rem;">
                            <nb-card-body>
                                <div class="tarifa-header-container">
                                    <div class="tarifa-label">{{relatorioEconomia?.cabecalho.tarifaFornecimento}}</div>
                                </div>
                                <table class="fatura-tabela">
                                    <tr>
                                      <th></th>
                                      <th style="text-align: center;">{{grupo.colunaQuantidade}}</th>
                                      <th style="text-align: center;">{{grupo.colunaValor}}</th>
                                      <th style="text-align: center;">{{grupo.colunaTotal}}</th>
                                    </tr>

                                    <ng-container *ngFor="let lanc of grupo?.subGrupos[0]?.lancamentos">
                                      <tr [ngClass]="lanc.totalizador === true ? 'total-linha' : lanc.subTotalizador === true ? 'sub-total-linha' : ''" *ngIf="lanc.observacao == null && (lanc.montante && lanc.montante !== 0) || (lanc.total && lanc.total !== 0)">
                                        <td style="text-align: left;">{{ lanc.descricao }}</td>
                                        <td style="text-align: center;">{{ !lanc.montante || lanc.montante === 0 ? lanc.totalizador === true ? '' : '-' : lanc.montante | number:'1.2-3' }} {{getTipo(lanc.tipoMontante, lanc.montante)}}</td>
                                        <td style="text-align: center;">{{ !lanc.tarifa || lanc.tarifa === 0 ? lanc.totalizador === true ? '' : '-' : lanc.tarifa | currency:'BRL':'symbol':'1.2-8' }} {{getTipo(lanc.tipoTarifa, lanc.tarifa)}}</td>
                                        <td style="text-align: center; {{lanc.total && lanc.total < 0 ? 'color: red' : ''}}">{{ !lanc.total || lanc?.total === 0 ? lanc?.totalizador === true ? '' : '-' : lanc?.total | moedaParenteses }}</td>
                                      </tr>
                                      <tr [ngClass]="lanc.totalizador === true ? 'total-linha' : lanc.subTotalizador === true ? 'sub-total-linha' : ''" *ngIf="lanc.observacao && lanc.observacao !== null">
                                        <td colspan="2">{{ lanc.descricao }}</td>
                                        <td colspan="2">{{ lanc.observacao }}</td>
                                      </tr>
                                    </ng-container>                                   

                                    <tr class="total-linha">
                                      <td colspan="3"><strong>{{grupo.subGrupos[0]?.total?.descricao}}</strong></td>
                                      <td style="text-align: center;"><strong>{{grupo.subGrupos[0]?.total?.total | currency:'BRL':'symbol':'1.2-2'}}</strong></td>
                                    </tr>
                                </table>
                            </nb-card-body>
                        </nb-card>
                      </nb-tab>
                    </nb-tabset>
                </nb-card-body>
                <nb-card-footer>
                    <button type="submit" nbButton status="basic" (click)="clear()">Voltar</button>
                    <button *ngIf="habilitaOperacoes" [disabled]="!control.valid || !habilitaPdf()" type="submit" nbButton status="info" style="margin-left: 0.5rem;" (click)="salvar()">Salvar</button>
                    <button *ngIf="habilitaOperacoes" [disabled]="!habilitaPdf()" type="submit" nbButton (click)="validar()" status="danger" style="margin-left: 0.5rem;">Validar</button>

                    <button [disabled]="!habilitaPdf()" type="submit" nbButton status="warning" style="margin-left: 0.5rem;" (click)="downloadAsPdf()">Gerar PDF</button>
                </nb-card-footer>                
            </nb-card>
        </div>
    </div>
</form>

<ng-template #graficoContainer></ng-template>
